@charset "UTF-8";
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.column.column-center {
  align-content: center;
}
.flex.column.column-space-between {
  align-content: space-between;
}
.flex.column.column-start {
  align-content: flex-start;
}
.flex.column.column-end {
  align-content: flex-end;
}
.flex.center {
  justify-content: center;
}
.flex.start {
  justify-content: flex-start;
}
.flex.end {
  justify-content: flex-end;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.middle {
  align-items: center;
}
.flex.stretch {
  align-items: stretch;
}
.flex.top {
  align-items: flex-start;
}
.flex.bottom {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.grow {
  flex-grow: 1;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

body {
  margin: 0;
  padding: 0;
  /*background: url(../bk.jpg) 0 0 no-repeat;
  background-position: top;
  background-size: 100% auto;*/
  font-family: "站酷快乐体2016修订版";
  position: relative;
}

.pc-show {
  display: block;
}

.pc-hide {
  display: none;
}

@media (max-width: 1044px) {
  .tablet-show {
    display: block;
  }

  .tablet-hide {
    display: none;
  }
}
@media (max-width: 1044px) and (max-width: 1000px) {
  .phone-show {
    display: block;
  }

  .phone-hide {
    display: none;
  }
}
@font-face {
  font-family: "站酷快乐体2016修订版";
  src: url("../fonts/站酷快乐体2016修订版.woff2") format("woff2"), url("../fonts/站酷快乐体2016修订版.woff") format("woff"), url("../fonts/站酷快乐体2016修订版.ttf") format("truetype"), url("../fonts/站酷快乐体2016修订版.eot") format("embedded-opentype"), url("../fonts/站酷快乐体2016修订版.svg") format("svg");
}
.select {
  color: #ffffff;
  width: 2.5rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid #ffffff;
  border-radius: 0.6rem;
  padding-left: 0.5rem;
  position: relative;
}
.select i {
  content: "";
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  border-width: 0.5rem 0.3rem;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  display: block;
}

.options {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  color: #ffffff;
  height: 20rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b497af;
  text-align: center;
  display: none;
  z-index: 20;
}
.options .option {
  line-height: 2;
}

.radio {
  color: #ffffff;
  width: 2.5rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid #ffffff;
  border-radius: 0.6rem;
  padding-left: 0.5rem;
  position: relative;
}
.radio i {
  display: block;
  position: absolute;
  top: calc(50% - 0.25rem);
  right: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 3;
  width: 0.5rem;
  height: 0.5rem;
}
.radio input {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 2rem;
  height: 2rem;
}
.radio input[checked=checked] + i {
  background-color: #ed3f1d;
}

body.index {
  background-color: #b497af;
}
body.index .header {
  width: 100%;
  height: auto;
  margin: 0;
}
body.index .form {
  width: 100%;
  height: auto;
  background: url(../image/form-bk.png) no-repeat 0 0;
  background-size: 100% 100%;
  background-position: top;
}
body.index .form .label {
  color: #ffffff;
  font-size: 1rem;
  padding-left: 0.5rem;
}
body.index .form .tip {
  padding-top: 2rem;
  color: #ffffff;
  font-size: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
body.index .form .input-group {
  width: 70%;
  margin: 0 auto;
  /*margin*/
}
body.index .form .input-group .label {
  margin-bottom: 0.3rem;
}
body.index .form .input-group input {
  border: none;
  border-radius: 0.6rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 20px;
  width: calc(100% - 40px);
  margin-bottom: 0.3rem;
  font-size: 1rem;
  color: #e2553a;
}
body.index .form .select-group {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.5rem;
}
body.index .form .select-group .label {
  width: calc(20% - 0.5rem);
}
body.index .form .select-group .select {
  width: 20%;
  margin-left: 3%;
}
body.index .form .radio-group {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.8rem;
}
body.index .form .radio-group .label {
  width: calc(20% - 0.5rem);
}
body.index .form .radio-group .radio {
  width: 20%;
  margin-left: 3%;
}
body.index .form .btns {
  padding-top: 1.2rem;
  padding-bottom: 3.2rem;
}
body.index .form .btns .btn-submit {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  width: 27%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #e2553a;
  text-align: center;
}
body.index .bk-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
body.index .modal {
  position: absolute;
  top: 30%;
  width: 70%;
  left: 15%;
  z-index: 11;
  display: none;
}
body.index .modal .modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  text-align: center;
  color: #f86a4e;
  font-family: "Microsoft YaHei";
  padding: 2.5rem 0;
  font-size: 1rem;
  line-height: 2;
}
body.index .modal .btn-modal {
  background-color: #ff0000;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
  cursor: pointer;
}
body.index .modal .btn-modal:before {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1px;
  top: calc(50% - 1px);
  left: 0.23rem;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: 12;
}
body.index .modal .btn-modal:after {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1px;
  top: calc(50% - 1px);
  left: 0.23rem;
  transform: rotate(-45deg);
  background-color: #ffffff;
  z-index: 12;
}

body.character {
  background: url(../image/bk-character.jpg) no-repeat 0 0;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body.character .header {
  width: 100%;
}
body.character .header .slogan {
  width: 28%;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
body.character .header .logo {
  width: 17%;
  margin-right: 2rem;
}
body.character .form {
  width: 100%;
  text-align: center;
  background: url(../image/form-bk-character.png) no-repeat 0 0;
  background-position: center;
  background-size: 100% 100%;
}
body.character .form img {
  width: 60%;
  height: auto;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
}
body.character .form .form-top {
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 2rem;
}
body.character .form .image {
  position: relative;
}
body.character .form .image .name {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  color: #f8755b;
  left: 50%;
  transform: translateX(-50%);
}
body.character .form .form-bottom {
  color: #ffffff;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body.invitation {
  background-color: #b497af;
  height: 100vh;
  overflow: hidden;
}
body.invitation .header {
  width: 100%;
  height: auto;
  margin: 0;
}
body.invitation .form {
  width: 100%;
  height: auto;
  background: url(../image/form-bk.png) no-repeat 0 0;
  background-size: 100% 100%;
  background-position: top;
}
body.invitation .form .address {
  color: #ffffff;
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  width: 70%;
  margin: 0 auto;
  line-height: 2;
}
body.invitation .form .map {
  width: 70%;
  display: block;
  margin: 1rem auto;
  border-radius: 0.5rem;
}
body.invitation .form .question {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  width: 70%;
  margin: 1rem auto 1rem;
}
body.invitation .form .btns {
  width: 70%;
  margin: 0 auto;
}
body.invitation .form .btns .btn-ok {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  width: 45%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #e2553a;
  text-align: center;
}
body.invitation .form .btns .btn-cancel {
  display: block;
  text-decoration: none;
  border: 1px solid #ffffff;
  width: 45%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #ffffff;
  text-align: center;
}
body.invitation .form .tip {
  color: #ffffff;
  font-size: 1rem;
  margin: 1rem auto 1rem;
}
body.invitation .form .tip i {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../image/12.png) no-repeat 0 0;
  background-size: 100% auto;
  background-position: bottom;
}

body.game {
  background-color: #b497af;
  height: 100vh;
  overflow: hidden;
}
body.game .header {
  width: 100%;
  height: auto;
  margin: 0;
}
body.game .header img {
  width: 17%;
  margin-right: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
body.game .form {
  width: 100%;
  height: auto;
  background: url(../image/game-bk.png) no-repeat 0 0;
  background-size: 100% auto;
  background-position: bottom;
}
body.game .form .title {
  color: #ffffff;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
body.game .form .image {
  border: 1.5px solid #f8755b;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
body.game .form .image img {
  width: 100%;
  height: auto;
}
body.game .form .image .puzzle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
body.game .form .image .puzzle .piece {
  height: calc(100% / 3 - 1px * 2);
  text-align: center;
  border: 1px solid #f8755b;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8755b;
  font-size: 2rem;
}
body.game .form .image .puzzle .piece.out {
  opacity: 0;
  animation: zoomOut 1s 1 ease;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    opacity: 0;
  }
}
body.game .form .btns {
  padding-bottom: 3.2rem;
  width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
}
body.game .form .btns .btn-scan {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  width: 45%;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #f8755b;
  text-align: center;
  margin: 0 auto;
}

/*# sourceMappingURL=css.css.map */
